.container {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto; }

header {
  text-align: center; }

#score {
  text-align: left; }

.grid {
  border: 2px solid #363533;
  width: calc(20px * 30); }

.grid:after {
  content: "";
  display: table;
  clear: both; }

.square {
  width: 20px;
  height: 20px;
  float: left; }
