body {
  font-family: 'VT323', sans-serif;
  color: #fff;
  user-select: none;
  cursor: default;
  background: #333;
}
header {
  text-align: center;
}
.container {
  /*width: 400px;*/
  /*margin: 0 auto;*/
  display: flex;
  flex-direction: column;
}
#board {
  min-width: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.game-header {
  padding: 4px;
  font-size: 20px;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restart-btn {
  fill: #fff;
  width: 30px;
  height: 30px;
  padding-right: 6px;
}
.col {
  display: flex;
  flex-direction: column;
}
.cell {
  color: #fff;
  background: #666;
  width: 30px;
  height: 30px;
  margin: 2px;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
}