body {
  font-family: 'VT323', sans-serif;
  font-size: 20px;
  color: #fff;
  user-select: none;
  cursor: default;
  background: #333;
  margin: 0;
}
/*h1 {
  margin: 0;
}
*/
header {
  text-align: center;
  padding: 10px;
}
.game-control {
  text-align: center;
}
.info {
  display: inline-block;
  padding-bottom: 30px;
}
.info span {
  padding-right: 20px;
}
#restart-btn {
  fill: #fff;
  width: 30px;
  height: 30px;

  position: relative;
  top: 13px;
}
#board {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.cell {
  color: #fff;
  background: #666;
  width: 30px;
  height: 30px;
  margin: 1px;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
}

#slide {
  pointer-events: none;
  text-transform: uppercase;
  font-size: 220px;

  position: absolute;
  left: 0;
  width: 200vw;
  height: 100vh;

  display: flex;
  justify-content: flex-end;

}
#slide {
  transition: left .4s ease-in-out;
}
.msg-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
