// Reset
// -----------------------
*, *:after, *:before {
  box-sizing: border-box;
}


// 12-Column Grid System
// ===========================
$pad: 24px;

.grid {
  margin: 0 auto;
  padding-left: $pad;
  // clearfix
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.row {
  margin-right: $pad;
  // clearfix
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

[class^='col-']{
  float: left;
  padding-right: $pad;
  padding-bottom: $pad;
  .grid &:last-of-type {
    margin-right: -$pad;
  }
}

.center {
  float: none;
  margin: 0 auto!important;
}

.col-11 {
  width: 91.666667%;
}
.col-10 {
  width: 83.33333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66%;
}
.col-7 {
  width: 58.3333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.6667%;
}
.col-4 {
  width: 33.3333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.6667%;
}
.col-1 {
  width: 8.3333%;
}



