// General
// =============================
$img-font-color: #fff;
$text-color: #484848;
$light-gray: #AAA;
$bg-gray: #EDEFED;

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $bg-gray;
}

// Grid related
// ==============================
.grid {
  max-width: 1040px;
}

.module {
  background-color: #fff;
}

// Header
// ==============================
header {
  height: 590px;
  background-color: #666;
  color: $img-font-color;
}

// Navbar
nav {
  padding: 10px 20px;
}
.nav-tools {
  float: right;

  li {
    display: inline-block;
    padding-left: 30px;
  }
}

// Tagline
.tagline {
  text-align: center;
  margin-top: 150px;
  .title {
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 15px;
  }
}

// Page
// =============================
.page {
  color: $text-color;

  .title {
    font-size: 27px;
    font-weight: bold;
  }
}

// hosting info
.hosting-info {
  background-color: #fff;
  margin-top: 50px;
  .title {
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .description {
    padding-bottom: 20px;
  }
}
.hosting-text {
  padding-right: 25px;
  padding-left: 15px;
}
.btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 13px 0;
  text-decoration: none;
  border-radius: 2px;
}
.btn-host {
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 80px;
  background-color: #006977;
}

.tile {
  height: 350px;
  position: relative;
}
.tile-content {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}

// Destinations
// ===============================
.dest-head {
  text-align: center;
  .description {
    margin: 15px auto 40px;
  }
}

// Weekend Destinations
.weekend-dest {
  margin-top: 65px;
}
.btn-wk {
  color: $text-color;
  background-color: #fff;
  border: 1px solid $light-gray;
  margin-bottom: 20px;
  margin-top: 20px;
}

// World Destinations
.world-dest {
  text-align: center;
}


// Responsive
// ==================================
@media screen and (max-width: 1100px) {
  .grid {
    width: 750px;
  }
  .full {
    width: 100%;
  }
  .half {
    width: 50%;
  }
  .hosting-text {
    padding-right: 0;
    .title {
      font-size: 18px;
    }
    .description {
      font-size: 16px;
    }
    .btn {
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 768px) {
  .grid {
    width: 100%;
    padding: 0;
  }
  [class^='col-'] {
    padding: 0;
    width: 100%;
  }
  .row {
    margin-right: 0;
  }
  .grid-btn {
    display: none;
  }

  // host
  .hosting-text {
    text-align: center;
    padding: 0 15px;
  }
  [class*='-dest'] {
    margin-top: 65px;
  }
}