/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General
------------------------------------*/
html, body {
  background-color: #F1F1F1;
  font-family: sans-serif;
}

/* Clearfix */
.clearfix {
  overflow: auto;
}

/* Navbar
------------------------------------*/
nav {
  position: fixed;
  width: 100%;
  height: 55px;
  top: 0;
  background-color: white;
}
.logo-container {
  float: left;
  margin-top: 10px;
  width: 40%;
}
.nav-content {
  float: right;
  width: 60%;
}

#masthead-search {
  float: left;
  position: relative;
  top: 7px;
  right: 100px;
  background-color: #F1F1F1;
  padding: 7px 10px 7px 50px;
  background-image: url('img/search.png');
  background-repeat: no-repeat;
  background-position: 13px 10px;
  width: 60%;
}
#masthead-search input {
  border: none;
  background-color: transparent;
  height: 25px;
  font-size: 14px;
}
.user-container {
  float: right;
  position: relative;
  top: 7px;
  right: 30px;
}

/* Content
------------------------------------*/
.content {
  margin: 68px auto 0;
  width: 1012px;
}

.main {
  float: left;
}

#video {
  margin-bottom: 10px;
}

/* video header */
#video-header {
  background-color: #fff;
  padding: 10px;
}
#video-header p {
  margin-bottom: 10px;
}
.author {
  padding-bottom: 5px;
  border-bottom: 2px solid #E2E2E2;
}

.author-info {
  display: inline-block;
}
#views {
  float: right;
  position: relative;
  top: 36px;
  width: 150px;
  text-align: right;
  border-bottom: 2px solid #167AC6;
}

/* video buttons */
#video-actions {
  float: left;
}
#like-btns {
  float: right;
}

#video-btns span {
  margin-right: 20px;
  font-size: 12px;
}




/* Sidebar
-------------------------------------*/
aside {
  width: 416px;
  background-color: #fff;
  float: right;
  padding: 10px;
  box-sizing: border-box;
}
.list-video-item {
  border-bottom: 1px solid #E2E2E2;
  padding: 10px 0;
}
.list-video-item img {
  float: left;
  margin-right: 10px;
}
