.container {
    margin: 10px auto;
    width: 512px;
}

.grid-cell {
    width: 30px;
    height: 30px;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin: 1px;
}

/* float div grid */
.square {
    float: left;
}

.square.clear {
    clear: both;
}


/* table grid */

.squareCell {
    display: table-cell;

}
.squareRow {
    display: table;
}

/* inline block grid */
.square-inline-blk {
    display: inline-block;
}


/* hover effect */
.color {
    background-color: #D9BE1B;
}