body {
    background-color: #141414;
}

header {
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    padding-top: 20px;
}

.buttons {
    margin: 80px 20px 0 300px;
    width: 200px;
    float: left;
}

button {
    border: none;
    padding: 20px 20px;
    margin: 10px;
    width: 150px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #666;
}
button:focus {
    outline: none;
}

#clearBtn {
    background-color: #BB2C1A;

}

.container {
    float: left;
    margin: 80px auto;
    width: 512px;
}

.grid-cell {
    width: 30px;
    height: 30px;
    margin: 1px;
    background-color: #666;
}

/* float div grid */
.square {
    float: left;
}

.square.clear {
    clear: both;
}


/* table grid */

.squareCell {
    display: table-cell;

}
.squareRow {
    display: table;
}

/* inline block grid */
.square-inline-blk {
    display: inline-block;
}


/* hover effect */
.color {
    background-color: #D9BE1B;
}