html, body {
    font-family: helvetica;
}

nav {
    height: 50px;
    font-size: 0.8em;
    padding: 10px 20px;
}

nav ul {
    float: right;
}

li {
    display: inline-block;
    vertical-align: middle;
}

nav li {
    padding: 5px;
    margin: 0;
}


.content {
    width: 600px;
    margin: 0 auto;
}


.logo {
    display: block;
    margin: 130px auto 30px auto;

}

.search-bar {
    position: relative;
}

.search-input {
    width: 540px;
    border: 1px solid #C8C8C8;
    padding: 10px 50px 10px 10px;
    height: 17px;
    font-size: 1.1em;
    -webkit-appearance: none;
}
.search-input:hover {
    outline: none;
    border: 1px solid #8F8F8F;
    -webkit-appearance: none;
}

.search-input:focus {
    outline: none;
    border: 1px solid #4D90FE;
}


.mic {
    position: absolute;
    top: 7px;
    right: 4px;
    display: block;
    background: #fff;
    border: none;
}


.search-btn {
    text-align: center;
    margin-top: 30px;
}

button {
    display: inline-block;
    padding: 11px 16px;
    margin: 0 2px;
    border: none;
    background-color: #F7F7F7;
    font-size: .8em;
    font-weight: bold;
    color: #717171;
    border: 1px solid #F7F7F7;
    border-radius: 2px;
}

button:hover {
    border: 1px solid #BDBDBD;
    border-radius: 2px;
}

footer {
    background-color: #F2F2F2;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-right: 300px;
}

footer ul {
    display: inline-block;
}

footer li {
    padding: 13px 15px;
    font-size: .8em;
    color: #666680;
}

.first-li {
    padding-left: 30px;
}
.last-li {
    padding-right: 30px;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
